.screen{
  position:relative;
}

#movie{
  width: 100%;
  text-align: center;
}

#startbutton {
  width: 40%;
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); /*上下左右中央寄せ*/
  text-align:center;
}
